In [1]:
import pandas as pd

In [7]:
#change file xl to csv 

input_excel_file = 'T-HSAB.xlsx'
output_csv_file = 'T-HSAB_csv.csv'

# Use the pandas function to read the Excel file
df = pd.read_excel(input_excel_file)

# Use the to_csv function to save the DataFrame as a CSV file
df.to_csv(output_csv_file, index=False)

print(f'{input_excel_file} has been successfully converted to {output_csv_file}')

T-HSAB.xlsx has been successfully converted to T-HSAB_csv.csv

In [8]:
data = pd.read_csv('T-HSAB_csv.csv')
data

,اسغي ياشعب تونس تدعوا بالاسلام كفار الحمدلله نعمة الاسلام بلدنا الجزاير,hate
0,قطع يد السارق توفرت الشروط شرط الحد الأدنى قيم...,normal
1,تلوموش لطفي لعبدلي شرف,normal
2,مستغرب شعب يسمع تفاهة شانو لى الدرجة الشعب تاف...,normal
3,هههخ غزلتني مافهمتش شمدخلها الموضوع تتنطر وحده...,normal
4,ترضى اليهود والنصارى تتبع ملتهم الحمد لله يوجد...,hate
...,...,...
6018,رحماك رب رحماك رب التوانسة ولات تناقش القرأن ت...,hate
6019,إنسان تافه وكلام فارغ تفوووو كلب,abusive
6020,مريم معجبييك مي تحتي عيني قناة عادة مكروها ونط...,normal
6021,نكره امها,hate
6022,سي لطفي فلفل لبس مريول تقوا سانية فلفول,normal

In [14]:
import csv

# Replace 'existing.csv' with the name of your existing CSV file
existing_csv_file = 'T-HSAB_csv.csv'

# Replace 'new.csv' with the name of the new CSV file with headers
    new_csv_file = 'T-HSAB_csv_h.csv'

# Define the headers you want to add
headers = ["comment", "type"]

# Read the existing CSV file
data = []
with open(existing_csv_file, 'r', newline='', encoding='utf-8') as file:
    reader = csv.reader(file)
    for row in reader:
        data.append(row)

# Add the headers to the beginning of the data
data.insert(0, headers)

# Write the data with headers to a new CSV file
with open(new_csv_file, 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print(f'Headers have been added to the CSV file. New file: "{new_csv_file}"')

Headers have been added to the CSV file. New file: "T-HSAB_csv_h.csv"

In [15]:
data = pd.read_csv('T-HSAB_csv_h.csv')
data

                                                comment     type
0     اسغي ياشعب تونس تدعوا بالاسلام كفار الحمدلله ن...     hate
1     قطع يد السارق توفرت الشروط شرط الحد الأدنى قيم...   normal
2                                تلوموش لطفي لعبدلي شرف   normal
3     مستغرب شعب يسمع تفاهة شانو لى الدرجة الشعب تاف...   normal
4     هههخ غزلتني مافهمتش شمدخلها الموضوع تتنطر وحده...   normal
...                                                 ...      ...
6019  رحماك رب رحماك رب التوانسة ولات تناقش القرأن ت...     hate
6020                   إنسان تافه وكلام فارغ تفوووو كلب  abusive
6021  مريم معجبييك مي تحتي عيني قناة عادة مكروها ونط...   normal
6022                                          نكره امها     hate
6023            سي لطفي فلفل لبس مريول تقوا سانية فلفول   normal

[6024 rows x 2 columns]

In [16]:
 #Text length analysis 
def avg_word(sentence):
    words = sentence.split()
    if len(words) == 0:
        return 0
    return (sum(len(word) for word in words)/len(words))

In [17]:
import nltk
nltk.download('stopwords')
stop = set(nltk.corpus.stopwords.words("arabic"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [21]:
data['word_count'] = data['comment'].apply(lambda x: len(str(x).split(" ")))
data['char_count'] = data['comment'].str.len() ## this also includes spaces
data['avg_char_per_word'] = data['comment'].apply(lambda x: avg_word(x))
data['stopwords'] = data['comment'].apply(lambda x: len([x for x in x.split() if x in stop]))
data = data.sort_values(by='word_count',ascending=[0])
data.head()

,comment,type,word_count,char_count,avg_char_per_word,stopwords
4583,صديقتي أمال اقرئي تعليقي سمحتي صدقيني صدقيني ا...,normal,388,2515,5.484536,5
3335,صديقتي أمال اقرئي تعليقي سمحتي صدقيني صدقيني ا...,normal,388,2515,5.484536,5
1855,فاهمة كيفف ربي نظملهم حياتهم وراهم الطريق الصح...,normal,234,1442,5.166667,0
3090,اعتقد صهيونى امريكى جاسوس الغرب يريد التجنيس ب...,hate,207,1349,5.521739,0
1546,افتقد الخطاب خطاب لأي إنسان الإنسجام الداخلي م...,normal,185,1269,5.864865,1

In [22]:
dataset_stat = data.mean(axis=0)
dataset_stat

C:\Users\asus\AppData\Local\Temp\ipykernel_13476\4033707401.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset_stat = data.mean(axis=0)

word_count           11.742364
char_count           69.955013
avg_char_per_word     4.980410
stopwords             0.038347
dtype: float64

In [24]:
data2 = pd.read_csv('data.csv')
data2

                                                comment        type
0                                          يعطيكم الصحة      normal
1                                       عشي عندهما رجال      normal
2                            نبيك مغتصب الاطفال المنيوك  aggressive
3     بشير فار حبس خارج ثالثة ابتيدائي جاي اتناقش ما...      normal
4     مول القناة دزيزي جنيت تفرجت الفديو تاعك ولدي ت...      normal
...                                                 ...         ...
4401  مممتلكت مممتلكت تتحدثون عاليه مرتن تقول ايمام ...      normal
4402                 ربي يلعنو رئيس تونس الخنزير بففففف  aggressive
4403  قولك اننا لسنا عرب ههههه اذهبي للمخبر حليلي جي...  aggressive
4404  علاقة للتحرش باللباس الدول لتي تبيح الحرية الج...      normal
4405                         لطفي العبدلي خير ألحق بارك      normal

[4406 rows x 2 columns]

In [25]:
data2['word_count'] = data2['comment'].apply(lambda x: len(str(x).split(" ")))
data2['char_count'] = data2['comment'].str.len() ## this also includes spaces
data2['avg_char_per_word'] = data2['comment'].apply(lambda x: avg_word(x))
data2['stopwords'] = data2['comment'].apply(lambda x: len([x for x in x.split() if x in stop]))
data2 = data2.sort_values(by='word_count',ascending=[0])
data2.head()

,comment,type,word_count,char_count,avg_char_per_word,stopwords
140,صديقتي أمال اقرئي تعليقي سمحتي صدقيني صدقيني ا...,normal,388,2515,5.484536,5
752,فاهمة كيفف ربي نظملهم حياتهم وراهم الطريق الصح...,normal,234,1442,5.166667,0
2532,اعتقد صهيونى امريكى جاسوس الغرب يريد التجنيس ب...,aggressive,207,1349,5.521739,0
3155,اعتقد صهيونى امريكى جاسوس الغرب يريد التجنيس ب...,aggressive,207,1349,5.521739,0
3750,اشد اعداء الاسلام انزل محمد يسمون بمفتيين وعلم...,aggressive,173,1020,4.901734,7

In [26]:
dataset_stat2 = data2.mean(axis=0)
dataset_stat2

C:\Users\asus\AppData\Local\Temp\ipykernel_13476\3317275046.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset_stat2 = data2.mean(axis=0)

word_count           12.123468
char_count           72.245574
avg_char_per_word     4.945104
stopwords             0.038357
dtype: float64

NameError: name 'df' is not defined